@use "../helpers" as *;

.form {
  display: flex;
  flex-direction: column;
  row-gap: rem(16);

  &__input,
  &__text-area {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-light);
    border-bottom: rem(1) solid var(--color-light);
    padding-left: rem(10);

    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &:-webkit-autofill {
      background-color: none !important;
      border: none;
      outline: none;
    }
  }

  &__text-area {
    resize: none;
    width: rem(300);
    height: rem(100);
  }

  &__button {
    color: var(--color-dark);

    &:not(:disabled) {
      @include hover {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &__announcement {
    color: var(--color-light);
    background-color: var(--color-red);
    padding: rem(10);
    position: fixed;
    right: rem(10);
    bottom: rem(10);

    border-radius: rem(10);

    translate: 0 rem(100);

    transition: translate 0.3s ease-in-out;

    &.active {
      translate: 0;
    }
  }
}
