@use "@/app/styles/helpers" as *;

$box-shadow: 3px 3px 12px 0 #42445AFF;

.box {
  width: 420px;
  height: auto;
  border-radius: 10px;
  box-shadow: $box-shadow;

  padding-block: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;

  @include tablet {
    width: 100%;
  }
}

.button {
  width: 100px;
  height: 100px;
  box-shadow: $box-shadow;
  border-radius: 10px;
  position: relative;

  @include mobile {
    width: 70px;
    height: 70px;
  }

  &:hover {
    box-shadow: 3px 3px 12px 0 #60637b;
  }

  &:before, &:after {
    @include abs-center;
    content: "";
    position: absolute;
    width: 5px;
    height: 70%;
    background-color: black;
    border-radius: 10px;
  }

  &:after {
    rotate: 90deg;
  }
}
