@use "@/app/styles/helpers" as *;

.slider {
  width: 100%;
  height: auto;
  padding-block: rem(80);

  user-select: none;

  transition-duration: var(--transition-duration);

  &__wrapper {
    transition-duration: var(--transition-duration);
    // height: rem(550);
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale var(--transition-duration) ease;

    &-active {
      transition-duration: var(--transition-duration);
      scale: 1.2;
    }

    img {
      transition-duration: var(--transition-duration);
      display: block;
      width: rem(800);
      height: auto;
      object-fit: cover;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--color-red);
}
